<style>
  table {
    border-collapse: collapse;
  }

  td {
    border: 1px solid black;
    padding: 10px;
  }
</style>

<!--<table>-->
<!--  <th style="width:15%">회사명</th>-->
<!--  <th style="width:15%">회사설립일</th>-->
<!--  <th style="width:15%">사원 수</th>-->
<!--  <th style="width:15%">날짜</th>-->
<!--  <th style="width:15%">방문자 수</th>-->
<!--  <th style="width:15%">일평균</th>-->
<!--  <th style="width:15%">증가율(%)</th>-->
<!--  <ng-container *ngFor="let item of data;">-->
<!--    <tr>-->
<!--      <td>{{item.companyName}}</td>-->
<!--      <td>{{item.companyEstablishDate}}</td>-->
<!--      <td>{{item.employeeCount}}</td>-->
<!--      <td>{{item.date}}</td>-->
<!--      <td>{{item.visitCount}}</td>-->
<!--      <td>{{item.dailyAvg}}</td>-->
<!--      <td>{{item.Increase}}</td>-->
<!--    </tr>-->
<!--  </ng-container>-->
<!--</table>-->

<!--<br>-->

<kendo-grid [data]="data" [pageSize]="10" [height]="400">
  <kendo-grid-column field="companyName" title="회사명"></kendo-grid-column>
  <kendo-grid-column field="companyEstablishDate" title="회사설립일"></kendo-grid-column>
  <kendo-grid-column field="employeeCount" title="사원 수"></kendo-grid-column>
  <kendo-grid-column field="date" title="날짜"></kendo-grid-column>
  <kendo-grid-column field="visitCount" title="방문자 수"></kendo-grid-column>
  <kendo-grid-column field="dailyAvg" title="일평균"></kendo-grid-column>
  <kendo-grid-column field="Increase" title="증가율(%)"></kendo-grid-column>
</kendo-grid>


