<!--<mat-nav-list >-->
<!--    <a mat-list-item routerLink="/dashboard" >-->
<!--      <mat-icon [ngStyle]="{'color':'black'}"></mat-icon>Dashboard</a>-->
<!--    <a mat-list-item routerLink="/charts">-->
<!--      <mat-icon [ngStyle]="{'color':'black'}"></mat-icon>charts</a>-->
<!--    <a mat-list-item routerLink="/table">-->
<!--      <mat-icon [ngStyle]="{'color':'black'}"></mat-icon>tables</a>-->
<!--</mat-nav-list>-->
<div>
  <kendo-panelbar>
    <kendo-panelbar-item title="물고기 가족화 조회" [routerLink]="['/fish-family-result']"></kendo-panelbar-item>
    <!--<kendo-panelbar-item title="내담자 정보" [routerLink]="['/patient-info']"></kendo-panelbar-item>-->
<!--    <kendo-panelbar-item title="Dashboard" [routerLink]="['/dashboard']"></kendo-panelbar-item>
    <kendo-panelbar-item title="Table" [routerLink]="['/table']"></kendo-panelbar-item>
    <kendo-panelbar-item title="Chart" [routerLink]="['/charts']"></kendo-panelbar-item>-->
  </kendo-panelbar>
  <div style="padding: 5%;" *ngIf="emptyData">
    <div style="border:1px solid #4f4f4f;border-radius: 30px;padding: 20px;align-items: center;">
      <div style="justify-content: center;text-align: center;margin-bottom:10px;">
        <b>추가된 순서</b><br><hr>
      </div>
      <ng-container *ngFor="let data of receivedData;let i = index" style="font-size: 10px">
        {{i+1}}. {{receivedData[i].description}}
        <ng-container *ngIf="receivedData[i].name!=null">
          : <b>{{receivedData[i].name}}</b>
        </ng-container><br>
      </ng-container>
    </div>
  </div>
</div>

