<div class="header-logo">
<!--  <img class="logo-img" src="../../../../assets/images/MB_logo1.png" >-->
  <div>
    <span style="font-size: 25px; font-weight: 500;">MegaBridge</span> <br>
    <span style="font-size: 15px;">Connect your business</span>
  </div>
</div>

<!--<div [ngClass]="selectedStyle">-->
<!--  <div class="content px20">-->
<!--    <form class="login-form" #myForm="ngForm" (ngSubmit)="onLogin()">-->
<!--      <div class="text-center" style="display: flex;">-->
<!--        <h2 class="app-name">Admin Login</h2>-->
<!--      </div>-->
<!--      <div fxLayout="row">-->
<!--        <div fxFlexFill>-->
<!--          <mat-form-field class="w-100">-->
<!--            <input matInput placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone:true}">-->
<!--          </mat-form-field>-->
<!--          <mat-form-field class="w-100">-->
<!--            <input matInput type="password" placeholder="Password" [(ngModel)]="passWord" [ngModelOptions]="{standalone:true}">-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div fxLayout="row">-->
<!--        <div fxFlexFill>-->
<!--          <button type="submit" mat-raised-button color="primary" class="w-100">Login</button>-->
<!--          <button type="button" mat-button color="primary" class="w-100" (click)="onLogin()">Sign Up</button>-->
<!--        </div>-->
<!--      </div>-->

<!--    </form>-->
<!--  </div>-->

<!--</div>-->

<div class="login-page-wrap">
  <div class="content px20">
    <form class="login-form" [formGroup]="registerForm">
      <div class="form-title">
<!--        <img src="../../../../assets/images/MB_logo1.png" style="width: 45px; height: 45px;margin-right: 3px; vertical-align:middle; padding-top: 2px;">-->
        <h3 class="app-name">MindReader Admin</h3>
      </div>
      <div style="margin: 5px 3px;">
        <kendo-formfield>
          <kendo-label class="form-label" [for]="email" text="Email"></kendo-label>
          <input class="form-input" formControlName="email" kendoTextBox #email/>
          <kendo-formhint>Your active email</kendo-formhint>
          <!--            <kendo-formerror>Error: Not valid email format</kendo-formerror>-->
        </kendo-formfield>
      </div>

      <div style="margin: 5px 3px;">
        <kendo-formfield>
          <kendo-label class="form-label" [for]="password" text="password"></kendo-label>
          <input type="password" class="form-input" formControlName="password" kendoTextBox #password/>
          <kendo-formhint class="form-label">Your PassWord</kendo-formhint>
        </kendo-formfield>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column" class="mt20 mb20">
        <div>
          <input type="checkbox" size="medium" kendoCheckBox checked #rememberMe/>
          <kendo-label class="form-label" [for]="rememberMe" text="Remember Me"></kendo-label>
        </div>
        <a href="/" style="color: #285aff;font-size: 13px; ">Forgot Password</a>
      </div>
      <div fxLayout="row">
        <div fxFlexFill style="padding: 10px 0;">
          <button type="submit" mat-raised-button style="width: 500px; background-color: #fe5e23; color: #ffffff;" (click)="onLogin()">Login</button>
          <button type="button" mat-raised-button style="width: 500px;" >Sign Up</button>
        </div>
      </div>

    </form>
  </div>
</div>
