<div class="header-logo">
<!--  <img class="logo-img" src="../../../../assets/images/MB_logo1.png" >-->
  <div>
    <span style="font-size: 25px; font-weight: 500;">MegaBridge</span> <br>
    <span style="font-size: 15px;">Connect your business</span>
  </div>
</div>

<div [ngClass]="selectedStyle">
  <div class="content px20">
    <form class="login-form" #myForm="ngForm" (ngSubmit)="onLogin()">
      <div class="text-center" style="display: flex;">
        <h2 class="app-name">Admin Login</h2>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput type="password" placeholder="Password">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <button type="submit" mat-raised-button color="primary" class="w-100">Login</button>
          <button type="button" mat-button color="primary" class="w-100" (click)="onLogin()">Sign Up</button>
        </div>
      </div>

    </form>
  </div>

</div>

