$primary-color: #3f51b5;
$white: #ffffff;
$black: #000000;
$main-background-color-light-md: #fafafa;
$main-background-color-dark-md: #4f4f4f;

:host {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}
.fix-nav{
  display: flex;
  align-items:center;
  padding: 15px;
  height: 2%;
  background-color: #ffffff;
}
.nav-brand {
  text-align: center;
}
.topnav-icon {
  text-decoration: none;
  display: flex;
  //color: $white;
}

.nav-spacer {
  flex: 1 1 auto;
}

.visible-md {
  display: none;
}
.visible-sm {
  display: none;
}
@media screen and (max-width: 992px) {
  .visible-md {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .visible-sm {
    display: block;
  }
  .nav-brand {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}
