<mat-toolbar class="fix-nav" [style]="{ 'background-color':'white' }">
  <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div>
    <img style="height: 45px;" src="assets/img/MB_logo1.png">
  </div>
  <div>
    <span style="font-size: 25px; font-weight: 500;">MegaBridge</span> <br>
    <span style="font-size: 15px;">Connect your business</span>
  </div>

  <div *ngIf="dataEmptyCheck" style="margin-left: 40%;font-size: 20px">
    <b>{{userName}}</b> / {{userGender}} / 만{{userAge}}세
  </div>
  <span class="nav-spacer"></span>
    <button mat-raised-button style="background-color: black; color:white;font-size: 15px" (click)="openDialog()">
      <span>logout</span>
    </button>
<!--    <button mat-button (click)="openDialog2()">-->
<!--      <span>logout</span>-->
<!--    </button>-->
</mat-toolbar>

<ng-container #dialog></ng-container>
