.email-input{
  width: 30%;
  height: 30px;
}
.button-style{
  margin: 10px;
  width: 10%;
  height: 25px;

}
.dropdown-list{
  margin: 10px;
  width: 8%;
  height: 25px;
}

//////////////////////////////////////////////////////
// 결과지 drawer style
//////////////////////////////////////////////////////
.k-overlay{
  z-index: 1000;
}

.drawer-style{
  height: 94.6%;
  kendo-drawer .k-drawer{
    .k-drawer-mini{
      border-left: #cccccc solid 1px;
    }
  }


  .k-drawer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;


    .k-drawer-items{
      .k-drawer-item{
        padding-block: 10px;
        padding-inline: 27px;
      }
    }
  }
}
