//.btn-line-area{
//  position: sticky;
//  top: 0;
//  right: 0;
//  width: 122px;
//  display: flex;
//  flex-direction: column;
//  align-items: flex-end;
//  gap: 8px;
//  .btn-item-style {
//    width: 112px;
//    height: 28px;
//    font-size: 12px;
//    color: #666;
//    border-radius: 12.5px;
//    background-color: #fff;
//    border: 1px solid #cccccc;
//    padding: 0 1rem;
//    > .k-button-text {
//      overflow: hidden;
//      text-overflow: ellipsis;
//      white-space: nowrap;
//    }
//
//    &:hover {
//      opacity: 0.8;
//      background-color: #3232F4;
//      color: #fff;
//    }
//  }
//}
//
//.dialog-button-area {
//  height: 36px;
//  display: flex;
//  align-items: center;
//  margin-top: 0.25rem;
//
//  .dialog-button {
//    height: 100%;
//    padding: 0.7rem 0;
//    background-color: #D6D6D6;
//    color: #353535;
//    background-image: none;
//    border: none;
//    border-radius: 0;
//    flex: 0 1 50%;
//
//    &:hover {
//      opacity: 0.9;
//    }
//
//    &.full-size {
//      flex: 1 0;
//    }
//
//    &.triple-size {
//      flex: 0 1 34%;
//    }
//
//    &.type-primary {
//      background-color: #3232F4;
//      color: #FFFFFF;
//    }
//
//    &.type-success {
//      background-color: #16c109;
//      border-color: #129a08;
//      color: #FFFFFF;
//    }
//
//    &.type-delete {
//      background-color: #E53D41;
//      border-color: #BC3236;
//      color: #FFFFFF;
//    }
//  }
//}
//
//.my-dialog{
//  position: absolute;
//  z-index: 2;
//}


.btn-style {
  width: 40%;
  font-size: 16px;

  &.highlight{
    color: #ffffff;
    background-color: #ff6359;
    &.dark-1 {
      background-color: #5b8bd2;
    }
    &.dark-2 {
      background-color: #fe5e23;
    }
  }

}
